@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/Sofia-Pro-Black.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/Sofia-Pro-Bold.otf') format('opentype');
    font-weight: 700, 800;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/Sofia-Pro-Semi-Bold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/Sofia-Pro-Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/Sofia-Pro-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/Sofia-Pro-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/Sofia-Pro-ExtraLight.otf') format('opentype');
    font-weight: 200;
}

body {
    background-color: white;
    font-family: 'Sofia Pro', sans-serif;
}